@media (monochrome),
  print and (not(color)),
  (prefers-contrast: high),
  screen and (-ms-high-contrast: active) {
  :root {
    --background-color: white !important;
    --primary-text-color: black !important;
    --accent-color: black !important;
  }
}
